---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/abcdefg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: abcdefg",
            "param": "id"
          }
        }
  recorded_at: Fri, 27 Jun 2014 07:48:29 GMT
recorded_with: VCR 2.9.2
